@charset "UTF-8";

/* todos */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: contain;
}

h1{
    color: white;
    text-shadow: 2px 2px 0px #0c165b;
    padding: 10px;
}